:root {
    --pinkCol: #c73c75;
    --dark: #2c2f36;
    --dark: #2c2f36;
    --blueTran: #cd46079a;
}
body {
    background-color: black;
    position: relative;
}
/*.div{
    background-position: right top;
  background-repeat: no-repeat;
  width: 0px;
}*/
#main-section-1 {
    position:absolute;
    background-image: url('./mikayla-mallek-3iT3dnmblGE-unsplash.jpg');
    background-position: right top;
  background-repeat: no-repeat;
    background-size: cover;
    border-top: 10px solid white;
}

#img-block-1 {
    background-color: var(--blueTran);
    
    
}
.block-txt {
    margin: 5rem 5rem;
}

#hor{
    writing-mode: vertical-lr;
    text-orientation: upright;
    width: fit-content;
    font-size: 3rem;
    color: white;
    font-weight: 700;
    border: 7px solid white;
}