:root {
    --pinkCol: #c73c75;
    --dark: #2c2f36;
    --dark: #2c2f36;
    --blueTran: #cd46079a;
}
body {
    background-color: black;
    position: relative;
}
/*.div{
    background-position: right top;
  background-repeat: no-repeat;
  width: 0px;
}*/
#main-section-1 {
    position:absolute;
    background-image: url('./mikayla-mallek-3iT3dnmblGE-unsplash.jpg');
    background-position: right top;
  background-repeat: no-repeat;
    background-size: cover;
}

#img-block-1 {
    background-color: var(--blueTran);
    
    
}
.block-txt {
    margin: 5rem 5rem;
}

.block-txt .head div {
    background-color: rgb(197, 87, 14);
    margin-top: 1rem;
    padding: 0.3rem;
    width: 7rem;
    padding-left: 10px;
}

.block-txt .body {
    margin-top: 1rem;

}
#pink-sec {
    background-color: #c93a76bd;
    padding: 167px;
    height: 100vh;
}
#white-sec {
    background-color: white;
    padding: 100px;
    height: 100vh;
}
