*{
    padding: 0px;
    box-sizing: border-box;
    margin: 0px;
}
#box-1{
    position: relative;
}
div.f-box{
   padding:0px;
   position: relative;
   width: 0px;
    background-color: white;
}
div.s-box{
    padding: 0px;
    position: relative;
    background-color: white;
}
